name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fix for shallow clone issues

    - name: Fix Git Trust Issue
      run: git config --global --add safe.directory '*'

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
         gradle-version: '8.2'
         cache-disabled: true

    - name: Build Debug APK
      run: |
        cd Zkp-App/android
        chmod +x gradlew || true
        gradle assembleDebug --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: ZkpApp-Debug
        path: Zkp-App/android/app/build/outputs/apk/debug/app-debug.apk
